.film-details {
  margin: 18px auto 0;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 8px;
}

.film-details h1 {
  margin: 14px 0;
  text-align: center;
}

.film-details img {
  border-radius: 8px;
  width: 800px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
}

.film-details .tags {
  margin-top: 7px;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
}

.details-genre {
  display: flex;
  width: 400px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.film-details h3 {
  margin-top: 14px;
}

.release_date {
  display: flex;
  align-items: flex-start;
  align-content: start;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: column;
}

.release_date span {

}

.film-details span {
  margin: 8px 0;
}

.area-buttons {
  display: flex;
  width: 300px;
  font-size: 20px;
  border: 0;
  outline: none;
  padding: 12px 12px 0 0;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
}
.area-buttons .btn-save, .btn-trailer {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  background-color: #0f0c29;
  color: #fff;
  transition: transforn .5s linear;
  cursor: pointer;
}

.area-buttons .btn-save:hover {
  background: #45416E;
}

.area-buttons a {
  text-decoration: none;
  color: #fff;
}

.btn-trailer {
  transform-style: preserve-3d;
}

.btn-trailer:after{
  top: -100%;
  left: 0;
  width: 100%;
  padding: 18px;
  position: absolute;
  background: #45416E;
  border-radius: 4px;
  box-sizing: border-box;
  content: 'Assistir';
  transform-origin: left bottom;
  transform: rotateX(90deg);
}

.btn-trailer:hover{
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}
