header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background-color: #0f0c29;
  /*background: #0f0c29;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to right, #24243e, #302b63, #0f0c29); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}

.logo {
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
}

.favorites {
  cursor: pointer;
  background-color: #FFF;
  text-decoration: none;
  padding: 5px 14px;
  color: #000000;
  border-radius: 4px;
}
